/*start Variables */
/*End Variables */






/*start global rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: "work sans" ,"sans-serif";
}
/*End global rules */
